@media(max-width:1199px){
    nav{
        width: 100%;
    }
    .banner-content{
        padding: 150px 0;
    }
    .banner-inner h1{
        font-size: 55px;
    }
    .banner-inner p{
        font-size: 20px;
    }
    .banner-inner a{
        font-size: 20px;
    }
    .item-head{
        padding: 100px 0;
    }
    .item-head h2{
        font-size: 50px;
    }
    .item-head p{
        font-size: 20px;
    }
    .item-head ul li a{
        font-size: 20px;
    }
    .items ul li p{
        margin: 0;
    }
    .mail h3{
        margin: 50px 200px;
    }
    .copyright{
        width: 30%;
    }
    .footer-menu{
        width: 70%;
    }
}
@media(max-width:991px){
    nav ul li:nth-child(3){
        width: 100%;
        order: -1;
        text-align: center;
    }
    .banner-inner h1{
        font-size: 44px;
    }
    .banner-inner p{
        font-size: 15px;
        font-weight: 400;
        line-height: 1.5;
    }
    .banner-inner a{
        font-size: 16px;
    }
    .item-head h2{
        font-size: 45px;
    }
    .item-head h2 span{
        width: 58px;
    }
    .item-head p {
        font-size: 18px;
        font-weight: 600;
        margin: 20px 0;
        padding: 0;
    }
    .item-head ul li a{
        font-size: 16px;
    }
    .items ul li:nth-child(3){
        display: none;
    }
    .items ul li{
        width: 50%;
        margin: 0;
        margin-bottom: 20px;
    }
    .second-banner img{
        filter: brightness(0.5);
    }
    .second-banner h1{
        padding: 0;
        background-color: unset;
        line-height: unset;
        font-weight: 900;
        font-size: 39px;
    }
    .inner-food a{
        font-size: 12px;
    }
    .footer-menu{
        width: 100%;
    }
    .footer-menu ul{
        justify-content: center;
    }
    .copyright{
        width: 100%;
        justify-content: center;
        order: 1;
        margin-top: 10px;
    }
}
@media(max-width:767px){
    nav ul li img{
        width: 150px;
    }
    nav ul li a{
        font-size: 15px;
    }
    .banner-content{
        padding: 0;
    }
    .banner-inner h1{
        font-size: 30px;
    }
    .banner-inner p{
        padding: 0;
        font-size: 12px;
        margin: 10px 0;
    }
    .banner-inner a{
        font-size: 10px;
    }
    .banner-inner{
        padding: 40px 0;
    }
    .item-head{
        padding: 30px 0;
    }
    .item-head h2{
        font-size: 30px;
    }
    .item-head p{
        font-size: 14px;
        color: #adadad;
    }
    .item-head ul li a{
        font-size: 12px;
    }
    .items{
        margin: 20px 0;
    }
    .items ul li a{
        font-size: 12px;
    }
    .inner-food{
        padding: 15px 10px;
    }
    .col-3{
        width: 50%;
    }
    .mail h3{
        margin: 30px 45px;
        font-size: 20px;
    }
    .mail h2{
        font-size: 27px;
    }
    .footer-menu ul li a{
        padding: 10px 10px;
    }
}
@media(max-width:576px){
    .item-head h2{
        border-bottom: 3px solid #897c98;
        border-style: ridge;
    }
    .item-head h2 span{
        display: none;
    }
    .col-3{
        width: 100%;
    }
}
@media(max-width:499px){
    .container{
        width: calc(100% - 50px);
    }
    .banner-section{
        background-position: center;
    }
    .banner-content .container{
        width: calc(100% - 50px);
    }
    .banner-inner p{
        font-size: 10px;
    }
    .item-head h2{
        font-size: 23px;
    }
    .item-head p{
        font-size: 12px;
        font-weight: 400;
    }
    .item-head ul li a {
        font-size: 10px;
        margin: 0 6px;
        padding: 10px;
    }
    .items ul li{
        width: 100%;
        margin-bottom: 40px;
    }
    .second-banner h1{
        font-size: 30px;
        font-weight: 700;
    }
    .inner-food p{
        font-size: 14px;
    }
    .mail h3 {
        margin: 12px 0px;
        font-size: 20px;
    }
    .mail a{
        font-size: 13px;
        margin-top: 15px;
    }
}